.background{

    background-color: #2a2a2e;
}

.logo{
    height: auto;
    width: 100%;
}

.inline{
    display: inline;
}

.icon{
    color: white;
}

.dashboard-icon{
    border-width: 0px !important;
}

.userName{
    text-align: center;
    color: crimson;
    font-family: 'Roboto';
    font-size: larger;
}
.stdText{
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto';
    font-size: larger;
}

.score{
    text-align: center;
    color: crimson;
}

.txtCenter{
    text-align: center;
}

.header{
    margin-top: 1vh;
}

.gameBody{
    margin: 1vh;
    height: 80vh;
    border: dashed;
    border-width: 5px;
    border-radius: 1vh;
    border-color: crimson;
}

.MC{
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: crimson;
    position: absolute;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition: top  1s , left 1s;
    z-index: 1;
}

.NPC{
    top: 60%;
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    border-radius: 6px;
    z-index: 0.5;
}

/*
.mcName{
    text-align: center;
    color: crimson;
    font-family: 'Roboto';
    font-size: medium;
}
*/

