.background{

    background-color: #2a2a2e;
}

.header{
    color: white;
    text-align: left; 
    /*margin-top: 25px;
    margin-left: 25px;*/
    font-family: 'Roboto';
    font-size: 55px;
}

.logo{
    height: auto;
    width: 100%;
}

.inline{
    display: inline;
}